*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    font-family:"Inter",sans-serif;
    overflow:hidden;
}

.hero{
    width:100%;
    height:100vh;
    background:#000;
    color:#fff;
    position:relative;
    padding:40px 60px;
}


.left-logo{
    position:absolute;
    top:40px;
    left:60px;
}

.left-logo h2{
    font-size:52px;
    line-height:52px;
    font-weight:700;
}

.top-image,
.circle-image,
.half-circle,
.content-box{
    display:none;
}

.menu{
    position:absolute;
    top:40px;
    right:60px;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
}
.menu a{
    color:#fff;
    text-decoration:none;
    font-size:18px;
    font-weight:700;
    margin-bottom:5px;
}

.menu button{
    margin-top:10px;
    padding:10px 20px;
    border:none;
    background:#fff;
    color:#000;
    font-weight:700;
    cursor:pointer;
}


.line{
    position:absolute;
    left:0;
    width:100%;
    height:1px;
    background:rgba(255,255,255,.15);
}
.line1{top:38%;}
.line2{top:62%;}
.line3{top:86%;}

.main-text{
    position:absolute;
    top:100px;
    left:70px;
}

.main-text h1{
    font-size:170px;
    line-height:150px;
    font-weight:800;
    letter-spacing:-7px;
}
@media(max-width:768px){

    body{
        overflow:auto;
    }

    .hero{
        padding:20px;
    }

    .left-logo{
        left:20px;
        top:20px;
    }

    .left-logo h2{
        font-size:34px;
        line-height:36px;
    }

    .menu{
        right:20px;
        top:20px;
    }

    .menu a{
        font-size:14px;
    }

    .main-text{
        top:220px;
        left:20px;
    }

    .main-text h1{
        font-size:70px;
        line-height:70px;
        letter-spacing:-3px;
    }
}