

*{
    margin: 0;
    padding: 0;
}


.page1{
    height: 100vh;
    width: 100%;
    background-color: #3ce794;
}

.page2{
    height: 100vh;
    width: 100%;
    background-color: #3ce75b;
    
}
.boxes{
    height: 400px;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card1 {
    background-color: red;
}
.card2 {
    background-color: blue;
}
.card3 {
    background-color: green;
}
.card4 {
    background-color: yellow;
}


