*{
    margin: auto;
    padding: 100;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #393131; 
    height: 100%;
    width: 100%;
   
}
.line1{
    background-color: black;
    color: white;
    
    padding: 20px;
}
.line2{
    background-color: black;
    color: white;
    padding: 20px;
}
.line3{
    background-color: black;
    color: white;
    padding: 20px;
}
.line4{
    background-color: black;
    color: white;
    padding: 20px;
}
.logo{
    background-color: black;
    color: white;
    padding: 20px;
}
h1{
    text-align: center;
    margin: 0;
}


