*{
    margin: 0;
    padding: 0;3
    font-family: "Poppins", sans-serif;
    background-color: rgb(62, 37, 37);
   
}
html,body{
    height: 100%;
    width: 100%;
}
#hero_section{
    height: 100%;
    width: 100vh;
    background-color: rgb(233, 225, 225);
}

#hero_right{
    height: 100%;
    width: 100%;
    text-align: right;
    margin-right: 0px;
    
}
.hero_left{
    color: rgb(232, 223, 223);
}
hero_right>nav>ul{
    display:flex;
    
}