*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: auto;
}
/* .page1{
    height: 100vh;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow:hidden;
}
.page1 .textwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 10px;
    font-family: sans-serif;
}
.page1 .textwrapper h1{
    flex-shrink: 0;
}
.page2{
    height: 100vh;
    width: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow:hidden;
}
.page2 .textwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 10px;
    font-family: sans-serif;
}
.page2 .textwrapper h1{
    flex-shrink: 0;
}
.page3{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow:hidden;
}
.page3 .textwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 10px;
    font-family: sans-serif;
    color: white;
}
.page3 .textwrapper h1{
    flex-shrink: 0;
    color: white;
} */

.page1 {
    height: 100vh;
    width: 100%;
    position: relative; 
    background-color: white;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.brand {
    height: 500px;
    width: 900px;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    bottom: - 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}
.card1{
    background-color: violet;
}
.card2{
    background-color: purple;
}
.card3{
    background-color: magenta;
}
.card4{
    background-color: blue;
}
.page2 {
    height: 100vh;
    width: 100%;
    position: relative; 
    background-color: rgb(159, 35, 45);
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.page2 h1{
    font-size: 100px;
    
    text-align: center;
    position: absolute;
    top: 50%;
}